/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #cfcfcf; /* Ganti dengan warna yang kamu inginkan */

}


/* start */

.container{
    margin: 0px auto;
    width: 500px;
    background-color: #fff;
    padding: 50px 25px;
}

h2 {
    font-size: 24px;
    font-family: "poopin", sans-serif;
}

p {
     font-family: "poopin", sans-serif;
}

.head2 {
    margin: 10px auto 10px;
    width: 200px
}
.description{
    font-size: 12px;
    margin: 5px auto 0px;
    width: 200px
}
.descriptionview{
        font-size: 11px;
    margin: 0px auto;
    width: 500px
}
.fitur1 p{
    background-color:#8d95fc; 
    color: white;
    padding: 10px 220px;
    margin: 10px auto;
}
.fitur2 p{
    background-color: #fff;
    padding: 10px 200px;
    margin: 10px auto;
}
.luas {
    border: 1px solid #8d95fc; 
}


.luas .namefitur {
    background-color: #8d95fc; 
    color: white;
    padding: 25px 170px;
}

.gambarsegitiga{
    padding: 0px 120px;
}

.pengantar{
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 10px;
}

.rumus{
        padding: 0px 10px;
}

.diketahui{
    padding: 20px 0px;
    margin-left: 10px;
}

.rumuscontoh{
    margin: 10px auto;
}
.rumusvalue{
    margin: 10px auto;
}
.hasil{
    margin: 10px auto;
}

.headinput {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 10px; 
}

.inputnilai{
        margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 10px; 
}

.hasilview{
        margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 10px; 
}

.hitungluas{
    padding:12px;
    background-color: #8d95fc;
    color: white;
}
.reset{
    padding:12px;
    background-color: #8d95fc;
    color: white;
}

.hitungluas:hover {
        background-color:#5c60a1;

}